<template>
    <div  class="container">
        <ul class="list-group">
            <li class="list-group-item" v-for="task in tasks" v-text="task"></li>
        </ul>
        <hr>
        <form @submit.prevent="addTask" action="" method="post">
            <div class="form-group">
                <input v-model="newTask" type="text" class="form-control" placeholder="add a task">
            </div>
            <div class="form-group">
                <button type="submit" class="btn-danger">发布</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                tasks:[],
                newTask:'',
            }
        },
        mounted() {
            console.log('Component mounted.');
            axios.get('/tasks').then(response => {
                this.tasks = response.data
            });
            window.Echo.channel('tasks').listen('TaskCreated',e => {
                this.tasks.push(e.task.body)
            });
        },
        methods:{
            addTask(){
                axios.post('tasks',{body:this.newTask});
                this.tasks.push(this.newTask);
                this.newTask = '';
            }
        }
    }
</script>
